<%- include('../partials/header') %>

<form action="/flights/<%= flight._id %>/ticket" method="POST">
    <h3>For Flight Number: <%= flight.flightNumber %></h3>
    <h3>Departing at: <%= flight.departs.toLocaleString('en-US', {timeZone: 'UTC'}) %></h3>
    <h3>From <%= flight.airport %> Airport</h3>
    <label>Seat (A-F, 0-9):</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="number" name='price'>
    <button type='submit'>Purchase</button>
  </form>

<%- include('../partials/footer') %>



