<%- include('../partials/header') %>

<table>
    <thead>
      <tr>
        <th>Flight No.</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Departure</th>
        <th>Details</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.forEach(function(f) { %>
        <tr>
          <td><%= f.flightNumber %></td>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.departs %></td>
          <td><a class='button' href="/flights/<%= f._id %>">Details</a></td>
          <% if (f.destination[0]) { %>
            <td style='text-align: center; font-size: 25px;'><%= '✔' %></td>
          <% } else { %>
            <td><%= '' %></td>
         <% } %>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>