<%- include('../partials/header') %>

<h2><%= flight.flightNumber %></h2>
<h2><%= flight.airline %></h2>
<h2><%= flight.airport %></h2>
<h2><%= flight.departure %></h2>

<input type='submit'>

<%- include('../partials/footer') %>