<%- include('../partials/header') %>

<br><div style='border-style: inset;background-color: #b3e1fe;'>
    <h2>Departing:</h2>
    <h2><span class='flight-details'>Flight Number:</span> <%= flight.flightNumber %></h2>
    <h2><span class='flight-details'>Airline:</span> <%= flight.airline %></h2>
    <h2><span class='flight-details'>Airport:</span> <%= flight.airport %></h2>
    <h2><span class='flight-details'>Departure time:</span> <%= flight.departs.toLocaleString('en-US', {timeZone: 'UTC'}) ? flight.departs.toLocaleString('en-US', {timeZone: 'UTC'}) : 'TBD' %></h2>
</div>
<br>
<h2>Seats purchased:</h2>
  <% ticket.forEach((t) => { %>
    <% if (ticket) { %>
      <br><div style='border-style: inset;text-align: left; display: flex;'>
            <h2><span class='flight-details'>Price:</span> $<%= t.price %></h2>
            <h2><span class='flight-details'>Seat:</span> <%= t.seat %></h2>
          <br>
        <% } else { %>
          <h2>Purchase tickets below</h2>
       <% } %>
      </div> 
       <% }) %>
</div>

</div>
<br><br><h2>Add Ariving Flight:</h2>
<br><div>
    <form action='/flights/<%= flight._id %>/destination' method='POST'>
      <label>Airport:</label>
      <select name='airport'>
        <option value='SFO'>SFO</option>
        <option value='OAK'>OAK</option>
        <option value='LAX'>LAX</option>
        <option value='JFK'>JFK</option>
        <option value='SAN'>SAN</option>
      </select>
      <label>Departs:</label>
      <input type='date' name='arrival'>
      <button type='submit'>Submit</button>
    </form>
</div>
<% flight.destination.forEach((dest) => { %>
  <% if (flight.destination) { %>
    <br><div style='border-style: inset;background-color: #b3e1fe;'>
        <h2>Arriving:</h2>
        <div'>
          <h2><span class='flight-details'>Airport:</span> <%= dest.airport %></h2>
          <h2><span class='flight-details'>Arrival Time:</span> <%= dest.arrival.toLocaleString('en-US', {timeZone: 'UTC'}) %></h2>
        </div><br>
      <% } else { %>
        <h2>Add an Arriving Flight</h2>
     <% } %>
    </div> 
     <% }) %>
<div style='text-align: center; padding: 20px;'>
  <a style='font-size: 25px;' class='button' href='/flights/<%= flight._id %>/ticket/new'>Add Ticket</a>
</div>   

<%- include('../partials/footer') %>